h1{
  font-family:Georgia, serif;
  background-color: #ccccff
}
.carousel-inner  .item  img {
  width:640px;
  height:360px;
}
body{
  color:black;
}
#title{
  color:#ffff00;
}

body{
  background-color: black;
  color:white;
}

img{
  width: 60px;
  height: 60px;
  float:right;
}

#paragraph{
  color:white;
  font-style:italic;
  font-family:monospace;
  font-size:17px
}
#logo{
  width:550px;
  height:300px;
  float:left;
}
body{
  background-color:#0040ff;
  color:white;
}

